body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-image: url('https://thumbs.dreamstime.com/b/festive-backdrop-childrens-birthday-party-featuring-bright-balloons-confetti-gifts-festive-backdrop-childrens-323980885.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #333;
}

main {
  max-width: 500px;
  margin: auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

input, button {
  display: block;
  width: 95%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

button {
  background-color: #c561ff;
  color: #0f0101;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

button:hover {
  background-color: #c72eff;
}

h1, h2 {
  text-align: center;
}

